LegoApp/LegoApp/Service References/LegoServiceReference/LegoService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LegoService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:31337/LegoService?xsd=xsd0" namespace="http://tempuri.org/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILegoService_Forward_InputMessage">
    <wsdl:part name="parameters" element="tns:Forward" />
  </wsdl:message>
  <wsdl:message name="ILegoService_Forward_OutputMessage">
    <wsdl:part name="parameters" element="tns:ForwardResponse" />
  </wsdl:message>
  <wsdl:message name="ILegoService_Back_InputMessage">
    <wsdl:part name="parameters" element="tns:Back" />
  </wsdl:message>
  <wsdl:message name="ILegoService_Back_OutputMessage">
    <wsdl:part name="parameters" element="tns:BackResponse" />
  </wsdl:message>
  <wsdl:message name="ILegoService_Left_InputMessage">
    <wsdl:part name="parameters" element="tns:Left" />
  </wsdl:message>
  <wsdl:message name="ILegoService_Left_OutputMessage">
    <wsdl:part name="parameters" element="tns:LeftResponse" />
  </wsdl:message>
  <wsdl:message name="ILegoService_Right_InputMessage">
    <wsdl:part name="parameters" element="tns:Right" />
  </wsdl:message>
  <wsdl:message name="ILegoService_Right_OutputMessage">
    <wsdl:part name="parameters" element="tns:RightResponse" />
  </wsdl:message>
  <wsdl:message name="ILegoService_Stop_InputMessage">
    <wsdl:part name="parameters" element="tns:Stop" />
  </wsdl:message>
  <wsdl:message name="ILegoService_Stop_OutputMessage">
    <wsdl:part name="parameters" element="tns:StopResponse" />
  </wsdl:message>
  <wsdl:portType name="ILegoService">
    <wsdl:operation name="Forward">
      <wsdl:input wsam:Action="http://tempuri.org/ILegoService/Forward" message="tns:ILegoService_Forward_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ILegoService/ForwardResponse" message="tns:ILegoService_Forward_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Back">
      <wsdl:input wsam:Action="http://tempuri.org/ILegoService/Back" message="tns:ILegoService_Back_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ILegoService/BackResponse" message="tns:ILegoService_Back_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Left">
      <wsdl:input wsam:Action="http://tempuri.org/ILegoService/Left" message="tns:ILegoService_Left_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ILegoService/LeftResponse" message="tns:ILegoService_Left_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Right">
      <wsdl:input wsam:Action="http://tempuri.org/ILegoService/Right" message="tns:ILegoService_Right_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ILegoService/RightResponse" message="tns:ILegoService_Right_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <wsdl:input wsam:Action="http://tempuri.org/ILegoService/Stop" message="tns:ILegoService_Stop_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ILegoService/StopResponse" message="tns:ILegoService_Stop_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILegoService" type="tns:ILegoService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Forward">
      <soap:operation soapAction="http://tempuri.org/ILegoService/Forward" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Back">
      <soap:operation soapAction="http://tempuri.org/ILegoService/Back" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Left">
      <soap:operation soapAction="http://tempuri.org/ILegoService/Left" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Right">
      <soap:operation soapAction="http://tempuri.org/ILegoService/Right" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Stop">
      <soap:operation soapAction="http://tempuri.org/ILegoService/Stop" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LegoService">
    <wsdl:port name="BasicHttpBinding_ILegoService" binding="tns:BasicHttpBinding_ILegoService">
      <soap:address location="http://localhost:31337/LegoService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>